{%  extends 'problems/problem.html' %}
{%  load static %}
 {% block title %}
Breeders Equation
{% endblock %}


{%  block app_title %}
    Problem Central - <small>Breeders Equation</small>
{% endblock  %}

{%  block problem_solver_leader %}
          <p class = "lead mt-4 ml-2">
          </p>
{%  endblock problem_solver_leader %}

{%  block problem_info_head %}
    Info - <b><i>Breeders Equation</i></b>
{%  endblock %}

{%  block problem_solver_header %}
                    <p class="lead">
                        <b>Enter 3 parameters to calculate the 4th:</b>
                    </p>
{%  endblock problem_solver_header %}

{%  block problem_solver_form %}
            <form id="breedersequationsolverform" action="" method="post" >
                     {% csrf_token %}
                       <div class="form-group">
                          <div style="color:red">
                            {{  form.non_field_errors }}
                          </div>

                          {{ form.as_p }}
                           <input class="btn btn-primary mt-2" name="solverSubmit" type="submit" value="Calculate">
                           <input class="btn btn-secondary mt-2" name="clearButton" type="button" value="Clear" onclick="clearSolverForm()">
                      </div>
            </form>
{%  endblock problem_solver_form %}

{%  block problem_solver_answer %}
            <p class="lead">
                <b>{{ answer_title|safe }} {{  answer }}</b>
            </p>

                 <div id="plotDiv" style="width:100%;height:400px;">

                 </div>
{%  endblock problem_solver_answer %}

{%  block problem_generator_leader %}
          <p class = "lead mt-4 ml-2">

          </p>
{%  endblock problem_generator_leader %}

{%  block problem_generator_form %}

            <form id="breedersequationgeneratorform" action="" method="post" >
                     {% csrf_token %}

                          <div style="color:red">
                            {{  form.non_field_errors }}
                          </div>

                      {% for f in form %}
                         {%  if f.name == chosen_target  %}

                         {%  else %}
                             {%  if f.name == 'answer_field' %}
                                 {{ f }}
                             {% else %}
                                 <p>
                                      {{ f.label_tag }}
                                      {{  f }}

                                 </p>
                             {%  endif %}

                         {%  endif %}
                      {%  endfor %}

                     {%  if plot_data %}
                     {%  else %}
                        <p class="lead"><b>Please calculate:</b></p>
                     {%  endif %}
                     {% for f in form %}
                         {% if f.name == chosen_target  %}
                             <p>
                              <b>
                                  {{ f.label_tag }}
                                  {{ f }}

                                 </b>
                                 {% if answer_title  %}
                                     {%  if correct_flag %}
                                         <img  class ="tick_img" src = "{%  static 'img/tick.jpg' %}" width="20px">
                                      {%  else %}
                                         <img  class ="tick_img" src = "{%  static 'img/cross.PNG' %}" width="20px"> ( Correct answer: {{  answer_rounded }} )
                                       {% endif  %}
                                 {%  endif %}
                             </p>
                         {%  else %}

                         {%  endif %}

                    {%  endfor %}

                    <input class="btn btn-primary mt-2" name="generatorSubmit" type="submit" value="Check Answer">
                    <input class="btn btn-secondary mt-2" name="anotherButton" type="button" value="New" onclick="getAnother()">
            </form>
{%  endblock problem_generator_form %}

 {%  block problem_generator_answer %}
            <p class="lead">
            {%  if correct_flag %}
                {{ correct_answer }}

                <b>{{ answer_title|safe }}: {{  answer }}</b>
            {%  endif %}
            </p>

             <div id="plotDivGenerator" style="width:600px;height:400px;">

             </div>
{% endblock problem_generator_answer %}

{%  block show_graph %}
    function showGraph(pDiv) {

       /* plotData = [{
          x_data: [1, 100, 23],
          y_data: [0, 0, 0],
          type: 'scatter'
        }];
    */

        var layout = {
          xaxis: {
            title: 'Phenotype averages',
            showgrid: false,
            zeroline: false
            //range:[0,120]
          },
          yaxis: {

            showgrid: false,
            zeroline: true,
            zerolinecolor: 'black',
            zerolinewidth:3,
            showticklabels: false,
            range: [0,0]

          },
         annotations: [
        {
          x: plotData[0].x_data[0],
          y: plotData[0].y_data[0],
          xref: 'x',
          yref: 'y',
          text: '<b><span class="pc-pg-init-pop">Start<sub>av</sub></span></b>',
          showarrow: true,
          arrowhead: 7,
          ax: 20,
          ay: -20
        },
        {
          x: plotData[0].x_data[1],
          y: plotData[0].y_data[1],
          xref: 'x',
          yref: 'y',
          text: '<b><span class="pc-pg-final-pop">Selected<sub>av</sub></span></b>',
          showarrow: true,
          arrowhead: 7,
          ax: 20,
          ay: -20
        },

        {
          x: plotData[0].x_data[2],
          y: plotData[0].y_data[2],
          xref: 'x',
          yref: 'y',
          text: '<b><span class="pc-pg-final-pop">Response<sub>av</sub></span></b>',
          showarrow: true,
          arrowhead: 7,
          ax: 20,
          ay: -40
        }

    ]

        };
        Plotly.newPlot(pDiv, plotData, layout);


    }
{%  endblock show_graph %}

{%  block assemble_url %}
    function assembleUrl() {
        var url = "{% url 'breeders_equation' %}";
        return url;

    }
{%  endblock assemble_url %}

{%  block handle_tab_click_url %}
        url +='&av_starting_phen=' + document.getElementById('id_av_starting_phen').value;
        url +='&av_selected_phen=' + document.getElementById('id_av_selected_phen').value;
        url +='&av_response_phen=' + document.getElementById('id_av_response_phen').value;
        url +='&broad_heritability=' + document.getElementById('id_broad_heritability').value;
{%  endblock handle_tab_click_url %}

{%  block problem_solver_info %}
    <p>The Breeder's Equation problem solver uses the Breeder's equation to solve for either heritability or one of the parameters used for obtaining a <i>given</i> heritability.</p>
    <p>
        Parameters available are:
        <ul>
        <li> Average Starting Phenotype</li>
        <li> Average Selected Phenotype</li>
        <li> Average Response Phenotype</li>
        <li> Broad Heritability</li>
        </ul>

    </p>
   <p>
    Any 3 of the 4 parameters above can be entered to calculate the 4th.
    </p>
   <p>For example: if Average Starting Phenotype, Average Selected Phenotype and Average Response Phenotype are entered, the problem solver will calculate the Broad Heritability</p>

    <p>More information on Heritability and the Breeder's Equation can be found <a href="http://www.ncbi.nlm.nih.gov/books/NBK22001/">here</a>, <a href="http://www.ncbi.nlm.nih.gov/books/NBK21866/">here</a> and <a href="http://www.ncbi.nlm.nih.gov/books/NBK21832/">here</a></p>

{%  endblock problem_solver_info %}

{%  block problem_generator_info %}

    <p>Random values for any 3 of the breeder's equation parameters are generated and presented.
        </p>
    <p>Your aim is to correctly calculate the 4th parameter</p>
    <p class = "lead mt-4 ml-2">
        <i>Breeder's Equation formula:</i> (tba)
      </p><img src ="{%  static 'img/sample_breeders_equation.PNG' %}" width="400px">

{%  endblock problem_generator_info %}
