{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
About
{% endblock %}


{%  block app_title %}
About
{% endblock  %}

{%  block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="display-4">About</h1>
        <p class = "lead">This app was created to help students in Genetics and Evolution courses solve problems and understand course material. The focal courses on which the app is based are offered in <a href="https://www.coursera.org/course/geneticsevolution">Coursera</a> and at <a href="http://www.duke.edu/">Duke University</a>, but the material is covered in introductory genetics and evolution courses worldwide.</p>
        <p>This material is based upon work supported by the <a href="http://nsf.gov">National Science Foundation</a> under Grant Numbers 1754022 and 1754439</p>
    </div>
</div>

{%  endblock %}

{%  block script %}
<script>

</script>

{%  endblock %}