{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
About
{% endblock %}


{%  block app_title %}
About
{% endblock  %}

{%  block content %}

    <div class="row">
    <div class="col-md-8 mx-auto">
   <!-- Jumbotron Header -->
    <header class="jumbotron">
      <h1 class="display-4">About</h1>
    </header>
        <br>This material is based upon work supported by the <a href="http://nsf.gov">National Science Foundation</a> under Grant Numbers 1754022 and 1754439
    </div>
</div>

{%  endblock %}

{%  block script %}
<script>

</script>

{%  endblock %}