{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
About
{% endblock %}


{%  block app_title %}
About
{% endblock  %}

{%  block content %}

    <div class="row">
    <div class="col-md-8 mx-auto">
   <!-- Jumbotron Header -->
    <header class="jumbotron">
      <h1 class="display-4">About</h1>
    </header>
    <small class="d-block mb-3 text-muted">Genetics & Evolution Web v0.0.12   &copy; 2020 Russell B Myers </small>
    </div>
</div>

{%  endblock %}

{%  block script %}
<script>

</script>

{%  endblock %}