{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Allele Freak
{% endblock %}


{%  block app_title %}
Allele Freak
{% endblock  %}

{%  block content %}

<!--div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Allele Freak</h1>

</div-->


<form id="allelefreakform" action="" method="post" >
         {% csrf_token %}
  <div class="row form-group">

      <div class="col-md-1">

      </div>
      <div class="col-md-1">
        <b>{{ form.init_freq_a.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.init_freq_a }}
      </div>
          <div class="col-md-1">
        <b>{{ form.fitness_AA.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.fitness_AA }}
      </div>
     <div class="col-md-1">
        <b>{{ form.fitness_Aa.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.fitness_Aa }}
      </div>
      <div class="col-md-1">
        <b>{{ form.fitness_aa.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.fitness_aa }}
      </div>



  </div>
  <div class="row form-group">
          <div class="col-md-1">

      </div>

   <div class="col-md-1">
        <b>{{ form.pop_size.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.pop_size }}
      </div>
    <div class="col-md-1">
        <b>{{ form.num_gens.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.num_gens }}
      </div>

      <div class="col-md-1">
        <b>{{ form.inbreeding_coefficient.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.inbreeding_coefficient }}
      </div>

      <div class = "col-md-2">
          <div class = "btn-group">
            <input class="btn btn-primary" name="submitform" type="submit" value="Submit">
            &nbsp;&nbsp;
            <input class="btn btn-secondary" name="clear"  type="submit" value="Clear">

          </div>

      </div>
      <div class = "col-md-1">
          <b>{{ form.auto_clear.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.auto_clear }}
      </div>





  </div>





<div>
{%  if no_data %}
    <p class="display-4 text-center">Enter data and press submit</p>
{%  endif %}
</div>



<div class = "container">
 <div class ="row">
    <div class="col-10">
         {% autoescape off %}
          {{ plot_div }}
          {% endautoescape %}
    </div>
    <div class="col-2">
        {%  if no_data %}
            <div hidden>
        {%  endif %}
                  Show allele: &nbsp;
                     <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% for radio in form.show_allele %}
                            <div class="showallele btn btn-secondary btn-sm">
                                {{ radio }}
                            </div>
                        {% endfor %}
                     </div>
        {%  if no_data %}
            </div>
        {%  endif %}

    </div>
 </div>

</div>
</form>
{%  endblock %}

{%  block script %}
<script>

function showChange(e) {
    el = e.target;
    for (i = 0; i < 2; ++i) { // change to 3 if both option is added
        el1 = document.getElementById("id_show_allele_" + i);
        if (el1 == el) {
            el1.parentElement.parentElement.classList.add('active');
        } else {
            el1.parentElement.parentElement.classList.remove('active');
        }
    }
    f =   document.getElementById("allelefreakform");
    f.submit();

}

el = document.getElementById("id_show_allele_" + {{ sel_allele }});
el.parentElement.parentElement.classList.add('active');  // className = 'active' //addClass('active') // = el.labels[0];

el = document.getElementById("id_show_allele_0");
el.onchange = showChange;
el = document.getElementById("id_show_allele_1");
el.onchange = showChange;
{#el = document.getElementById("id_show_allele_2");#}
{#el.onchange = showChange;#}

</script>

{%  endblock %}