{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Allele Freak
{% endblock %}


{%  block app_title %}
Allele Freak
{% endblock  %}

{%  block content %}

<!--div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Allele Freak</h1>

</div-->


<form id="allelefreakform" action="" method="post" >
         {% csrf_token %}
  <div class="row form-group">

      <div class="col-md-1">

      </div>
      <div class="col-md-1">
        <b>{{ form.init_freq_a.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.init_freq_a }}
      </div>
          <div class="col-md-1">
        <b>{{ form.fitness_AA.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.fitness_AA }}
      </div>
     <div class="col-md-1">
        <b>{{ form.fitness_Aa.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.fitness_Aa }}
      </div>
      <div class="col-md-1">
        <b>{{ form.fitness_aa.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.fitness_aa }}
      </div>



  </div>
  <div class="row form-group">
          <div class="col-md-1">

      </div>

   <div class="col-md-1">
        <b>{{ form.pop_size.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.pop_size }}
      </div>
    <div class="col-md-1">
        <b>{{ form.num_gens.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.num_gens }}
      </div>

      <div class="col-md-1">
        <b>{{ form.inbreeding_coefficient.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.inbreeding_coefficient }}
      </div>

      <div class = "col-md-2">
          <div class = "btn-group">
            <input class="btn btn-primary" name="submitform" type="submit" value="Submit">
            &nbsp;&nbsp;
            <input class="btn btn-secondary" name="clear"  type="submit" value="Clear">

          </div>

      </div>
      <div class = "col-md-1">
          <b>{{ form.auto_clear.label_tag }}</b>
      </div>
      <div class = "col-md-1">
          {{ form.auto_clear }}
      </div>





  </div>



<div class = "container">
 <div class ="row">
    <div class="col-10">
        <div id="plotDiv" style="width:100%;height:400px;"></div>
    </div>
    <div class="col-2">
              Show allele: &nbsp;
                 <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for radio in form.show_allele %}
                        <div class="showallele btn btn-info btn-sm">
                            {{ radio }}
                        </div>
                    {% endfor %}
                 </div>

    </div>
 </div>

</div>
</form>
{%  endblock %}

{%  block script %}

{{ plot_data | json_script:"jPlotData" }}
{{ show_allele | json_script:"jShowAllele" }}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
var plotData = JSON.parse(document.getElementById('jPlotData').textContent);
var showAllele = JSON.parse(document.getElementById('jShowAllele').textContent);


function showChange(e) {
    el = e.target;
    for (i = 0; i < 2; ++i) { // change to 3 if both option is added
        el1 = document.getElementById("id_show_allele_" + i);
        if (el1 == el) {
            el1.parentElement.parentElement.classList.add('active');
        } else {
            el1.parentElement.parentElement.classList.remove('active');
        }
    }
    f =   document.getElementById("allelefreakform");
    f.submit();

}

el = document.getElementById("id_show_allele_" + {{ sel_allele }});
el.parentElement.parentElement.classList.add('active');  // className = 'active' //addClass('active') // = el.labels[0];

el = document.getElementById("id_show_allele_0");
el.onchange = showChange;
el = document.getElementById("id_show_allele_1");
el.onchange = showChange;
{#el = document.getElementById("id_show_allele_2");#}
{#el.onchange = showChange;#}


function showGraph(pDiv) {

    var lineType;
    var alleleText;

    if (showAllele == 1) {
        lineType = 'solid';
    }
    else {
        lineTtype = 'solid'; //changed mind. Show both as solid
    }

    dataList = [];
    markerColors = ['green','blue','orange','yellow','red','black','purple'];

    for (i = 0;i < plotData.length; ++i) {
        var trace = {
          x: plotData[i].x_data,
          y: plotData[i].y_data,
          {#mode: 'markers',#}
          type: 'line',
          name: 'Run ' + (i+1),
          marker: {color: markerColors[i % markerColors.length]}
      };
      dataList.push(trace);
    }

    if (showAllele == 1) {
        alleleText = 'a';
    }
    else {
        alleleText = 'A';
    }

    xLimit = 400;
    if (plotData.length > 0) {
        xLimit = plotData[0].x_data.length;
    }

    var layout = {
      xaxis: {
        range: [ 0, xLimit ]
      },
      yaxis: {
        range: [0, 1]
      },
      title:"Allele '<b>" + alleleText + "</b>' - Frequency over Generations"
    };

    Plotly.newPlot(pDiv, dataList, layout);

}

showGraph('plotDiv');


</script>

{%  endblock %}