<!DOCTYPE html>
<html lang="en">
{%  load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rusell B Myers">
    <title>{%  block title %} {%  endblock %}</title>

   <!-- Bootstrap core CSS -->
    <!--link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{%  static "css/base.css" %}" rel="stylesheet">

</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm" style="background-color: #5f788a;">
      <h5 class="my-0 mr-md-auto font-weight-normal text-light"><a href="{%  url 'index' %}"><img src = "{%  static 'img/gen_tsticon2.PNG' %}"></a>&nbsp; &nbsp; Genetics & Evolution (GenEvol)</h5>
  <h5 class="my-0 mr-md-auto font-weight-normal text-light">{% block app_title %} Home {%  endblock %}</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-light" href="{%  url 'index' %}">Home</a>
    <a class="p-2 text-light" href="{%  url 'support' %}">Support</a>
    <a class="p-2 text-light" href="{%  url 'about' %}">About</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign In</a>
</div>
{%  block content %}

{%  endblock %}

<div class="container">
     <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-3">
            <img class="mb-2" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2020 Russell B Myers v0.0.6</small>
          </div>
          <div class="col-3">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a  href="{%url 'cross_map' %}">Genetic Cross Mapping</a></li>
              <li><a  href="{%url 'allele_freak' %}">AlleleFreak</a></li>
              <li><a  href="http://quizupdate.genevol.com/play.html">Self Test Quiz</a></li>
              <li><a  href="#">Cross Simulator</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h5>Links</h5>
            <ul class="list-unstyled text-small">
              <li><a  href="https://www.coursera.org/learn/genetics-evolution">Introduction to Genetics & Evolution Course</a></li>
              <li><a  href="https://apps.apple.com/us/app/genetics-and-evolution/id650401749">Genetics & Evolution iPhone app</a></li>
              <li><a  href="https://apps.apple.com/us/app/genetics-and-evolution-hd/id946774666">Genetics & Evolution HD iPad app</a></li>
              <li><a  href="https://play.google.com/store/apps/details?id=com.lnyapps.geneticsandevolution">Genetics & Evolution Android app</a></li>
            </ul>
          </div>
          <div class="col-2">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a  href="{%  url 'about' %}">About</a></li>
              <li><a  href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
</div>

{%  block script %}
{%  endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>