<!DOCTYPE html>
<html lang="en">
{%  load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rusell B Myers">
    <title>{%  block title %} {%  endblock %}</title>

   <!-- Bootstrap core CSS -->
    <!--link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{%  static "css/base.css" %}" rel="stylesheet">
    {%  block custom_css %}
    {%  endblock custom_css %}

</head>
<body>

  <nav class = "navbar navbar-expand-md navbar-dark sticky-top mb-3" style="background-color: #5f788a;">
  <div class = "container-fluid">
      <a class = "navbar-brand" href = "{%  url 'index' %}">
          <img src = "{%  static 'img/gen_tsticon4.PNG' %}">
          &nbsp;
          {% block genevol_title_text %}{%  endblock genevol_title_text %}
      </a>
      <h5 class="font-weight-normal text-light">{% block app_title %}{%  endblock %}</h5>
      <button class = "navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class = "navbar-toggler-icon"></span>
      </button>
      <div class = "collapse navbar-collapse" id = "navbarResponsive">
          <ul class = "navbar-nav ml-auto">
              <li class = "nav-item px-2">
                  <a class="nav-link text-light" href = "{%  url 'index' %}">Home</a>
              </li>
              <li class="nav-item px-2 dropdown">
                  <a class="nav-link  text-light dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Tools
                  </a>
                  <div class="dropdown-menu">
                    <h6 class="dropdown-header"><b>Apps</b></h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{%  url 'ped_an' %}">Pedigree Analyzer</a>
                    <a class="dropdown-item" href="{%  url 'cross_sim' %}">Cross Simulator</a>
                    <a class="dropdown-item" href="{%url 'allele_freak' %}">Allele Freak</a>
                    <a class="dropdown-item" href="{%  url 'quiz' %}">Self Test Quiz</a>
                    <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header"><b>Problem Central</b></h6>
                      <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{%url 'cross_map' %}">Test Cross Linkage</a>
                    <a class="dropdown-item" href="{%url 'population_growth' %}">Population Growth</a>
                    <a class="dropdown-item" href="{%url 'hardy_weinberg' %}">Hardy Weinberg</a>
                    <a class="dropdown-item" href="{%url 'breeders_equation' %}">Breeders Eq Heritability</a>

                  </div>
                </li>
              <li class = "nav-item px-2">
                  <a class="nav-link text-light" href = "{%  url 'support' %}">Contact</a>
              </li>
              <li class = "nav-item px-2">
                  <a class="nav-link text-light" href = "{%  url 'about' %}">About</a>
              </li>
             <li class = "nav-item px-2">
                 {%  block info-button %}
                  <a class="nav-link text-light" href = "#info-section"><i class="fas fa-info-circle fa-lg"></i></a>
                 {%  endblock %}
              </li>



          </ul>
      </div>
  </div>
  </nav>



{%  block content %}

{%  endblock %}

<div class="container">
     <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-6 col-md-3">
            <h5>Tools</h5>
            <ul class="list-unstyled text-small">
              <li><a  href="{%url 'cross_map' %}">Test Cross Linkage</a></li>
              <li><a  href="{%url 'population_growth' %}">Population Growth</a></li>
              <li><a  href="{%url 'hardy_weinberg' %}">Hardy Weinberg</a></li>
              <li><a  href="{%url 'breeders_equation' %}">Breeders Equation Heritability</a></li>
              <li><a  href="{%url 'allele_freak' %}">AlleleFreak</a></li>
              <li><a  href="{%  url 'quiz' %}">Self Test Quiz</a></li>
              <li><a  href="{%  url 'cross_sim' %}">Cross Simulator</a></li>
              <li><a  href="{%  url 'ped_an' %}">Pedigree Analyzer</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <h5>Links</h5>
            <ul class="list-unstyled text-small">
              <li><a  href="https://www.coursera.org/learn/genetics-evolution">"Introduction to Genetics & Evolution" Course</a></li>
              <li><a  href="https://apps.apple.com/us/app/genetics-and-evolution/id650401749">Genetics & Evolution iPhone app</a></li>
              <li><a  href="https://apps.apple.com/us/app/genetics-and-evolution-hd/id946774666">Genetics & Evolution HD iPad app</a></li>
              <li><a  href="https://play.google.com/store/apps/details?id=com.lnyapps.geneticsandevolution">Genetics & Evolution Android app</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a  href="{%  url 'about' %}">About</a></li>
              <li><a  href="{%  url 'support' %}">Contact us</a></li>
            </ul>
          </div>

          <div class="col-5 col-md-3">
            <!--img class="mb-2" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"-->
            <small class="d-block text-muted">&copy; 2021 Russell B Myers v0.1.0a</small>
              Supported by: <a href="http://nsf.gov"><img src="{% static 'img/NSF_logo.png' %}" width="60px" alt="National Science Foundation"></a>

          </div>
        </div>

      </footer>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

{%  block script %}
{%  endblock %}

</body>
</html>