{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Genetic Cross Mapping
{% endblock %}


{%  block app_title %}
Genetic Cross Mapping
{% endblock  %}

{%  block content %}

<!--div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Allele Freak</h1>

</div-->
<div class="row">
<div class="col-sm-4">
<form method="POST" id="type_form" action="{%  url 'cross_map' %}">
{% csrf_token %}
<button name="phenotype_type" class="btn btn-sm ml-3 {% if cross_type == 'p' %}btn-primary active{%  else %} btn-outline-secondary{%  endif %}"  type="submit">Phenotypes</button>
<button name="gamete_type" class="btn btn-sm {% if cross_type == 'g' %}btn-primary active{%  else %} btn-outline-secondary{%  endif %}" type="submit">Gametes</button>
{%  if show_cross %}
<a class="btn btn-secondary btn-sm ml-5" href="{%  url 'cross_map' %}" role="button">New parent</a>
{% endif %}
</form>
</div>
        <div class="col-sm-3">
           <small>
                  {% for descr in phen_descriptions %}
                    {{  descr }}
                    <br>
                  {%  endfor %}
           </small>
           </div>

        </div>


<div class="container mt-1">
        <div class="row">

            <div class="col-sm-5">
                   {{  org1 }}


                    <img src="{% get_static_prefix %}img/{{ genome_name }}/{{  genome_name }}_{{ org1_phen }}.png" width="{%  if genome_name == "pea" %}60px{%  else %}100px{%  endif %} alt="something" >

                     <span class="display-4"><b>X</b></span>

                     {{  org2 }}

                     <img src="{% get_static_prefix %}img/{{  genome_name }}/{{  genome_name }}_{{ org2_phen }}.png" width="{%  if genome_name == "pea" %}60px{%  else %}100px{%  endif %} alt="something" >

            </div>
            <div class="col-sm-1">
                <form class="form" method="POST" id="cross_form" action="">
                    {% csrf_token %}
                    {%  if show_cross %}
                    {%  else %}
                        <button name="cross" class="btn btn-primary mt-3" type="submit">Cross</button>
                    {%  endif %}
                 </form>
            </div>






        </div>

    {%  if show_cross %}

    <div class="mt-4">

    <p class="h5">
        {% if cross_type == 'p' %}
             Phenotypes observed
        {%  else %}
             Gametes observed (heterozygote)
        {%  endif %}
    </p>


    {%  if cross_type == 'p' %}

        {% for key, values in children_phenotypes.items %}
              {% cycle '1st' '2nd' '3rd' '4th' as row silent %}
              <img src="{% get_static_prefix %}img/{{ genome_name }}/{{  genome_name }}_{{ key }}.png" width="{%  if genome_name == "pea" %}60px{%  else %}100px{%  endif %}" alt="something" > {{  values }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              {%  if row == '4th' %}
                  <br>
              {%  endif %}

        {%  endfor %}
    {%  else %}
        {% for key,item in parental_gametes_het.items %}
            {% cycle '1st' '2nd' '3rd' '4th' as row silent %}
            {{  key }} {{  item }} &nbsp; &nbsp; &nbsp;
             {%  if row == '4th' %}
                  <br>
            {%  endif %}
            {% endfor %}
        <br>

    {%  endif %}

<br>
 <p class="h5">
     <img src = {% get_static_prefix %}img/calc.PNG %} width="20"></img>
    Specify Phase (heterozygote), gene order, linkage and recombination fractions:
 </p>
        <small class="text-muted"><i>(Double click gene to change phase. Drag/drop gene to change order. Double click link to link/unlink)</i></small>
    <br>
    <br>
    <div class="row">
        <div class="col-3">
            Gene order, parental phase, linkage:
        </div>
        <div class="col-9">
            <div class="gcm-gene" id="gcm-gene1" width="100px" height="50px" draggable="true">
                A
            </div>
            <div class = "gcm-linkdiv" id="gcm-link1">
                <img src="{%  static 'img/gcm/link.PNG' %}" class="gcm-linkimg" id="gcm-linkimg1" title="linked" width="50px" height="20px">

            </div>
            <div class="gcm-gene" id="gcm-gene2" draggable="true">
            B
            </div>
            <div class="gcm-linkdiv" id="gcm-link2">
                <img src="{%  static 'img/gcm/link.PNG' %}" class="gcm-linkimg noSelect" id="gcm-linkimg2" title="linked" width="50px" height="20px">
            </div>
            <div class="gcm-gene" id="gcm-gene3" draggable="true">
            C
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Recombination fractions:
        </div>
        <div class="col-9">
            <label for="rd1">ab</label><input id="rd1" class="gcm-rdinput" type="number" min="0.00" max="1.00" step="0.01" value="0.00">
            <label for="rd2">bc</label><input id = "rd2" class="gcm-rdinput" type="number" min="0.00" max="1.00" step="0.01" value="0.00">
            <label for="rd3">ac</label><input id="rd3" class="gcm-rdinput" type="number" min="0.00" max="1.00" step="0.01" value="0.00">
        </div>
    </div>

<div class="row">
    <div class="col-sm-2">
        <button name="show_answer" class="btn btn-primary" onclick="showAnswer();">Check</button>
    </div>

    <div class="col-sm" id="answer_div" style="visibility:hidden">
          Linkage: <img id="tick_img_linkage" class ="tick_img" src = "{%  static 'img/tick.jpg' %} " width="20px">  Gene order: <img id="tick_img_order" class="tick_img" src = "{%  static 'img/tick.jpg' %} " width="20px"> Phase:  <img id="tick_img_phase" class="tick_img" src = "{%  static 'img/tick.jpg' %} " width="20px"> Recombination fractions: <img id="tick_img_fractions" class="tick_img" src = "{%  static 'img/tick.jpg' %} " width="20px">

    </div>

</div>
<div class="row">
   <div class="col-sm-2">
        <button name="cheat_answer"  style="visibility:hidden" id="cheatButton" class="btn btn-info mt-2" onclick="cheatAnswer();">Show Answer</button>
    </div>
    <div id="answer_div_ticks" style="visibility:hidden">
        Answer:
            {{  org_het_phase }}
        <br>Recombination fractions:
        {%for phen_combs in recomb_fraction_list_with_p %}
             {{ phen_combs.0 }} {{  phen_combs.1 }} (p: {{ phen_combs.2 }})
        {%  endfor %}
    </div>
</div>
</div>

    {%  endif %}
    </div>
{%  endblock %}

{%  block script %}

{{ proposed | json_script:"jProposed" }}
{{ parsed_order | json_script:"jParsedOrder" }}
{{ recomb_fraction_list | json_script:"jRecombFractionList" }}


<script>
var proposed = JSON.parse(document.getElementById('jProposed').textContent);
var parsedOrder = JSON.parse(document.getElementById('jParsedOrder').textContent);
var recombFractionList = JSON.parse(document.getElementById('jRecombFractionList').textContent);
var x = 1;

function alphaComplement(s) {
    newString = '';
    for (i=0;i < s.length;++i) {
        if (s[i] == s[i].toUpperCase()) {
            newString += s[i].toLowerCase();
        }
        else {
            newString += s[i].toUpperCase()
        }

    }
    return newString;

}

function sortString(str){
  var arr = str.split('');
  var sorted = arr.sort();
  return sorted.join('');
}


function sortStringCaseInsensitive(str) {

    var arr = str.split('');
    var sorted = arr.sort(function (a, b) {
        return a.toLowerCase().localeCompare(b.toLowerCase());
    });
    return sorted.join('');
}

function reverseString(str) {
    // Step 1. Use the split() method to return a new array
    var splitString = str.split(""); // var splitString = "hello".split("");
    // ["h", "e", "l", "l", "o"]

    // Step 2. Use the reverse() method to reverse the new created array
    var reverseArray = splitString.reverse(); // var reverseArray = ["h", "e", "l", "l", "o"].reverse();
    // ["o", "l", "l", "e", "h"]

    // Step 3. Use the join() method to join all elements of the array into a string
    var joinArray = reverseArray.join(""); // var joinArray = ["o", "l", "l", "e", "h"].join("");
    // "olleh"

    //Step 4. Return the reversed string
    return joinArray; // "olleh"
}

function checkChars(stAct,endAct,stProp,endProp) {

    var charsMatch = false;
    var orderMatch = false;
    var phaseMatch = false;

    parsedChars = parsedOrder.order.substring(stAct, endAct);
    proposedChars = proposed.order.substring(stProp, endProp);

    if (sortString(parsedChars).toUpperCase() == sortString(proposedChars).toUpperCase()) {
        charsMatch = true;
    }


    if  ((sortStringCaseInsensitive(parsedChars) == sortStringCaseInsensitive(proposedChars))
         || (sortStringCaseInsensitive(parsedChars) == alphaComplement(sortStringCaseInsensitive(proposedChars)) )) {
        phaseMatch = true;
    }

    if (parsedChars.length == 3) {
        if (parsedChars[1].toUpperCase() == proposedChars[1].toUpperCase()) {
            orderMatch = true;
        }
    }
    else {
        orderMatch = true;
    }


    return {'charsMatch':charsMatch,'phaseMatch': phaseMatch,'orderMatch':orderMatch}

}

function checkRecombinationFractions() {

    proposed_els = document.getElementsByClassName("gcm-rdinput");
    for (var i = 0;i < recombFractionList.length; ++i) {
            actual = recombFractionList[i][1];
            guessed =  parseFloat(proposed_els[i].value);

            if (Math.abs(actual - guessed) > 0.01) {
                return false;
            }

    }
    return true;

}

function setTickImgs(order, linkage, phase, fractions) {
   el = document.getElementById('tick_img_order');
   if (order) {
       el.src = "{%  static 'img/tick.jpg' %}";
   }
   else {
       el.src = "{%  static 'img/cross.PNG' %}";
   }

   el = document.getElementById('tick_img_phase');
   if (phase) {
       el.src = "{%  static 'img/tick.jpg' %}";
   }
   else {
       el.src = "{%  static 'img/cross.PNG' %}";
   }

     el = document.getElementById('tick_img_linkage');
   if (linkage) {
       el.src = "{%  static 'img/tick.jpg' %}";
   }
   else {
       el.src = "{%  static 'img/cross.PNG' %}";
   }

     el = document.getElementById('tick_img_fractions');
   if (fractions) {
       el.src = "{%  static 'img/tick.jpg' %}";
   }
   else {
      el.src = "{%  static 'img/cross.PNG' %}";
   }


}

function checkAnswer() {
          if (parsedOrder.linkage == 'LL') {

          linkage = false;
          if (parsedOrder.linkage == proposed.linkage) {
               linkage = true;
          }

          checked = checkChars(0, 3, 0, 3);
          fractionsOk = checkRecombinationFractions();
          //alert('Linkage match Y' + ' Order match: '+ checked.orderMatch + ' Phase match: ' + checked.phaseMatch);
          setTickImgs(checked.orderMatch,linkage, checked.phaseMatch, fractionsOk);
          x = 1;


      }
      else if (parsedOrder.linkage== 'UU') {

          linkage = false;
          if (parsedOrder.linkage == proposed.linkage) {
               linkage = true;
          }
         //alert('Linkage match Y' + ' Order match: '+ 'N/A' + ' Phase match: ' + 'N/A');
          fractionsOk = checkRecombinationFractions();
          setTickImgs(true,linkage, true, fractionsOk);
      }

      else if ((parsedOrder.linkage == 'LU') && (proposed.linkage == 'LU')) {
          checked =  checkChars(0, 2, 0, 2);
          fractionsOk = checkRecombinationFractions();
          setTickImgs(checked.charsMatch,true, checked.phaseMatch, fractionsOk);
          //alert('Linkage match Y' + ' Order match: '+ 'N/A' + ' Phase match: ' + checked.phaseMatch);
      }
      else if ((parsedOrder.linkage == 'UL') && (proposed.linkage == 'UL')) {
          checked =  checkChars(1, 3, 1, 3);
          fractionsOk = checkRecombinationFractions();
          setTickImgs(checked.charsMatch,true, checked.phaseMatch, fractionsOk);
          //alert('Linkage match Y' + ' Order match: '+ 'N/A' + ' Phase match: ' + checked.phaseMatch);
      }
      else if ((parsedOrder.linkage == 'LU') && (proposed.linkage == 'UL')) {
          checked =  checkChars(0, 2, 1, 3);
          fractionsOk = checkRecombinationFractions();
          setTickImgs(checked.charsMatch,true, checked.phaseMatch, fractionsOk);
          //alert('Linkage match Y' + ' Order match: '+ 'N/A' + ' Phase match: ' + checked.phaseMatch);
      }
      else if ((parsedOrder.linkage == 'UL') && (proposed.linkage == 'LU')) {
          checked =  checkChars(1, 3, 0, 2);
          fractionsOk = checkRecombinationFractions();
          setTickImgs(checked.charsMatch,true, checked.phaseMatch, fractionsOk);
          //alert('Linkage match Y' + ' Order match: '+ 'N/A' + ' Phase match: ' + checked.phaseMatch);
      }
      else {
               checked =  checkChars(0, 3, 0, 3);
               fractionsOk = checkRecombinationFractions();
               setTickImgs(checked.charsMatch, false, checked.phaseMatch, fractionsOk);

      }






}

function showAnswer() {


   checkAnswer();

  {#    else if (parsedOrder.linkage == 'UU') {#}
  {#        alert('Linkage correct. (Order and phase n/a)');#}
  {##}
  {#    }#}
  {#    else if ((parsedOrder.linkage == 'LU') && (proposed.linkage == 'LU')) {#}
  {#        if  ( (    (parsedOrder.order.substring(0, 2) == proposed.order.substring(0, 2))#}
  {#                || (parsedOrder.order.substring(0, 2) == alphaComplement(proposed.order.substring(0, 2)))) )#}
  {#        {#}
  {#            alert('Phase correct, linkage correct (Order n/a)');#}
  {#        }#}
  {##}
  {#    else if ((parsedOrder.linkage == 'LU') || (parsedOrder.linkage == 'UL')) {#}
  {#        if  ( (    (parsedOrder.order.substring(0, 2) == proposed.order.substring(0, 2))#}
  {#                || (parsedOrder.order.substring(0, 2) == alphaComplement(proposed.order.substring(0, 2)))) ||#}
  {#           (   (parsedOrder.order.substring(1, 3) == proposed.order.substring(1, 3))#}
  {#                || (parsedOrder.order.substring(1, 3) == alphaComplement(proposed.order.substring(1, 3)))) )#}
  {#        {#}
  {#            alert('Phase correct, linkage correct (Order n/a)');#}
  {#        }#}
  {#       else if  ( (    (parsedOrder.order.substring(0, 2) == proposed.order.substring(0, 2))#}
  {#                || (parsedOrder.order.substring(0, 2) == alphaComplement(proposed.order.substring(0, 2)))) ||#}
  {#           (   (parsedOrder.order.substring(1, 3) == proposed.order.substring(1, 3))#}
  {#                || (parsedOrder.order.substring(1, 3) == alphaComplement(proposed.order.substring(1, 3)))) )#}
  {#        else {#}
  {#            alert('Phase incorrect (Order n/a)');#}
  {#        }#}
  {##}
  {#    } else if (parsedOrder.linkage == 'UL') {#}
  {#        if ((parsedOrder.order.substring(1, 3) == proposed.order.substring(1, 3)) || (parsedOrder.order.substring(1, 3) == alphaComplement(proposed.order.substring(1, 3)))) {#}
  {#            alert('Phase correct (Order n/a)');#}
  {#        } else {#}
  {#            alert('Phase incorrect (Order n/a)');#}
  {#        }#}
  {##}
  {#    } else {#}
  {#        alert('Correct. (Order n/a, Phase n/a)');#}
  {##}
  {#    }#}
  {#}#}


  //alert('parsed: ' + parsedOrder.order + ' ' + parsedOrder.linkage + 'recomb: ' + recombFractionList);
  var el = document.getElementById('answer_div');
  var other_el = document.getElementById('answer_div_ticks');
  if (el.style.visibility === "visible") {
      //el.style.visibility = "hidden";
      //other_el.style.visibility = "hidden";
  }
  else {
      document.getElementById('answer_div').style.visibility = "visible";
      //other_el.style.visibility = "visible";
  }

  cheatBut  = document.getElementById('cheatButton');
  cheatBut.style.visibility="visible";
}

var dragSrcEl = null;

  function handleDragStart(e) {
    this.style.opacity = '0.4';  // this / e.target is the source node.
    dragSrcEl = this;

    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.innerHTML);
  }
  function handleDragEnd(e) {
      this.style.opacity = '1.0';  // this / e.target is the source node.

      var genes = document.getElementsByClassName("gcm-gene");
      for ( i =0; i < genes.length; ++i) {
          genes[i].classList.remove('over');
      }

  }

function cheatAnswer() {

      el = document.getElementById('answer_div_ticks');
      if (el.style.visibility === "visible") {
          el.style.visibility = "hidden";
          but = document.getElementById('cheatButton');
          but.innerHTML = 'Show Answer';

      }
      else {
          el.style.visibility = "visible";
          but = document.getElementById('cheatButton');
          but.innerHTML = 'Hide Answer';
      }


}

function handleDragEnter(e) {
  // this / e.target is the current hover target.
  this.classList.add('over');
}

function handleDragLeave(e) {
  this.classList.remove('over');  // this / e.target is previous target element.
}

function handleDragOver(e) {
  if (e.preventDefault) {
    e.preventDefault(); // Necessary. Allows us to drop.
  }

  e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.

  return false;
}

function handleDrop(e) {
  // this/e.target is current target element.

  if (e.stopPropagation) {
    e.stopPropagation(); // Stops some browsers from redirecting.
  }

  // Don't do anything if dropping the same column we're dragging.
  if (dragSrcEl != this) {
    // Set the source column's HTML to the HTML of the column we dropped on.
    srcInd = getGeneIndex(dragSrcEl);
    newSrcText = this.innerHTML;
    dropInd = getGeneIndex(this);
    newDropText = e.dataTransfer.getData('text/html');
    proposed.order = proposed.order.substring(0,srcInd) + newSrcText + proposed.order.substring(srcInd+1,proposed.order.length);
    proposed.order = proposed.order.substring(0,dropInd) + newDropText + proposed.order.substring(dropInd+1,proposed.order.length);

    setGenes();
    linkSpans();
    {#dragSrcEl.innerHTML = this.innerHTML;#}
    {#this.innerHTML = e.dataTransfer.getData('text/html');#}
  }




  return false;
}

function getGeneIndex(el) {
   var lastChar = el.id.substr(el.id.length - 1);
   var ind =  parseInt(lastChar) - 1;
   return ind;
}



function handleDoubleClick(e) {
   //this.innerHTML="Clicked";
   var ind = getGeneIndex(this);
   var proposedElText;

   if (this.innerText == this.innerText.toUpperCase()) {
       proposedElText = this.innerText.toLowerCase();
   }
   else {
       proposedElText = this.innerText.toUpperCase();
   }

   proposed.order = proposed.order.substring(0,ind) + proposedElText + proposed.order.substring(ind+1,proposed.order.length);

   setGenes();

   {#if (this.innerText == this.innerText.toUpperCase()) {#}
   {#    this.innerText = this.innerText.toLowerCase();#}
   {#}#}
   {#else {#}
   {#    this.innerText = this.innerText.toUpperCase();#}
   {#}#}
   return false;
}

function setMargins(lk,m) {
      lk.style.marginLeft = m + "px";
      lk.style.marginRight = m + "px";
}


function toggleLink(el) {

   var proposedElLinkage;
   if  (el.title == 'linked') {
       proposedElLinkage = 'U';
   }
   else {
        proposedElLinkage = 'L';

   }

   if (el.id == 'gcm-linkimg1') {
        proposed.linkage = proposedElLinkage + proposed.linkage[1];
   }
   else {
        proposed.linkage = proposed.linkage[0] + proposedElLinkage;
   }


    setLinks();

   {#if (el.title == "linked") {#}
   {#    el.title = "unlinked";#}
   {#    el.src = "{%  static 'img/gcm/unlink.PNG' %}";#}
   {#}#}
   {#else {#}
   {#    el.title="linked";#}
   {#    el.src= "{%  static 'img/gcm/link.PNG' %}";#}
   {#}#}

}

function setLinks() {

    var linkimgs = document.getElementsByClassName("gcm-linkimg");
    for (var i = 0; i < proposed.linkage.length; ++i) {
      if (proposed.linkage[i] == 'L') {
          linkimgs[i].title = "linked";
          linkimgs[i].src = "{%  static 'img/gcm/link.PNG' %}";
      }
      else {
           linkimgs[i].title = "unlinked";
           linkimgs[i].src = "{%  static 'img/gcm/unlink.PNG' %}";
      }
    }

    checkAnswer();


}

function setGenes() {
  var genes = document.getElementsByClassName("gcm-gene");

  for (var i = 0; i < proposed.order.length; ++i) {
      genes[i].innerHTML = proposed.order[i];
  }

  checkAnswer();
}

function setRDs() {
   var rdinputs = document.getElementsByClassName("gcm-rdinput");
   rdinputs[0].value = proposed.rd1;
   rdinputs[1].value = proposed.rd2;
   rdinputs[2].value = proposed.rd3;

   for (var i=0;i < rdinputs.length; ++i) {
       setRDLinkSpan(rdinputs[i]);

   }

}



function handleLinkDoubleClick(e) {
   //this.innerHTML="Clicked";

    toggleLink(this);

   {#if (this.title == "linked") {#}
   {#    this.title = "unlinked";#}
   {#    this.src = "{%  static 'img/gcm/unlink.PNG' %}";#}
   {#}#}
   {#else {#}
   {#    this.title="linked";#}
   {#    this.src= "{%  static 'img/gcm/link.PNG' %}";#}
   {#}#}
   return false;
}


function setRDLinkSpan(el) {
      spans = linkSpans();
      elText = el.labels[0].innerText;
      spanInd = spans.indexOf(elText);
      if (spanInd == -1) {

      }
      else {
          if (spanInd == 0) {
              linkId = "gcm-link1";
          }
          else {
              linkId = "gcm-link2";
          }
          lk = document.getElementById(linkId);
          var m = el.value * 200;
          setMargins(lk,m);
      }

}



function handleRDChange(e) {
       setRDLinkSpan(e.target);

      {#spans = linkSpans();#}
      {#elText = e.target.labels[0].innerText;#}
      {#spanInd = spans.indexOf(elText);#}
      {#if (spanInd == -1) {#}
      {##}
      {#}#}
      {#else {#}
      {#    if (spanInd == 0) {#}
      {#        linkId = "gcm-link1";#}
      {#    }#}
      {#    else {#}
      {#        linkId = "gcm-link2";#}
      {#    }#}
      {#    lk = document.getElementById(linkId);#}
      {#    var m = e.target.value * 200;#}
      {#    setMargins(lk,m);#}
      {#}#}

      checkAnswer();

      return false;
}
function linkSpan(linkNum) {
      if (linkNum  == 0) {
        leftGene = document.getElementById("gcm-gene1");
        rightGene = document.getElementById("gcm-gene2");
      }
      else {
        leftGene = document.getElementById("gcm-gene2");
        rightGene = document.getElementById("gcm-gene3");
      }
      combination = leftGene.innerText + rightGene.innerText;
      combination = combination.toLowerCase();
      combination = combination.split('').sort().join('');
      return combination;

}

function linkSpans() {
      var spans = [];
      for (i=0;i < 2;++i) {
          var sp = linkSpan(i);
          spans.push(sp);
      }

      return spans;
}

  var linkimgs = document.getElementsByClassName("gcm-linkimg");
  for (var i = 0; i < linkimgs.length; i++) {
      linkimgs[i].addEventListener('dblclick',handleLinkDoubleClick,false);
  }

  var genes = document.getElementsByClassName("gcm-gene");
  for (var i = 0; i < genes.length; i++) {
      genes[i].addEventListener('dragstart', handleDragStart, false);
      genes[i].addEventListener('dragend', handleDragEnd, false);
      genes[i].addEventListener('dragover', handleDragOver, false);
      genes[i].addEventListener('dragenter', handleDragEnter, false);
      genes[i].addEventListener('dragleave', handleDragLeave, false);
      genes[i].addEventListener('drop', handleDrop, false);
      genes[i].addEventListener('dblclick', handleDoubleClick, false);
  }

  var rdinputs = document.getElementsByClassName("gcm-rdinput");
  for (var i = 0; i < rdinputs.length; i++)  {
      rdinputs[i].addEventListener('change', handleRDChange, false);
  }




  setGenes();
  setLinks();
  setRDs();


</script>

{%  endblock %}