{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
GenEvol Home
{% endblock %}

{%  block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Genetics & Evolution Web Tools</h1>
  <p class="lead">A collection of Genetics & Evolution web tools which you can run online in your browser.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">

   <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Genetic Cross Mapping</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
          <a href="{%url 'cross_map' %}"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_gcm_pic.PNG' %}" alt="Card image cap"></a>
      </div>
      <div class="card-body">
   <ul class="list-unstyled mt-3 mb-4">
          <li>Genetic cross mapping at 3 alleles</li>

        </ul>
        <a href="{%url 'cross_map' %}" class="btn btn-primary">Run</a>
      </div>
    </div>

      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Allele<br> Freak</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
          <a href="{%url 'allele_freak' %}"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_allelefreak.PNG' %}" alt="Card image cap"></a>
      </div>
      <div class="card-body">
   <ul class="list-unstyled mt-3 mb-4">
          <li>Allele frequencies over generations</li>

        </ul>
        <a href="{%url 'allele_freak' %}" class="btn btn-primary">Run</a>
      </div>
    </div>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Self Test<br> Quiz</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
          <a href="http://quizupdate.genevol.com/play.html"><img class="card-img-top  embed-responsive-item" src="{%  static 'img/gen_quiz_pic.PNG' %}" alt="Card image cap"></a>
      </div>
      <div class="card-body">
   <ul class="list-unstyled mt-3 mb-4">
          <li>Self Test Quiz</li>

        </ul>


        <a class="btn btn-primary" href="http://quizupdate.genevol.com/play.html" role="button">Run</a>
       </div>
    </div>





<!--
   <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">DNA<br> tools</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
      <img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_dnawork.PNG' %}" alt="Card image cap">
      </div>
      <div class="card-body">
   <ul class="list-unstyled mt-3 mb-4">
          <li>DNA tools</li>

        </ul>
        <a href="http://genevol.com/dna" class="btn btn-primary">Run</a>
      </div>
    </div>
  </div>
-->
  <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Cross Simulator</h4>
      </div>
       <div class="embed-responsive embed-responsive-16by9">
      <img class="card-img-top embed-responsive-item" src="{%  static  'img/gen_crosssim_with_coming_soon.png' %}" alt="Card image cap">
       </div>
      <div class="card-body">

       <ul class="list-unstyled mt-3 mb-4">
          <li>Simulate Mendelian crosses</li>

        </ul>
        <button type="button" class="btn btn-primary">Run</button>
      </div>
    </div>


 <div class="card mb-4 shadow-sm" >
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Mobile apps</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
          <a href="https://apps.apple.com/us/app/genetics-and-evolution/id650401749"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_ipadhd.PNG' %}" alt="Card image cap"></a>
      </div>
      <div class="card-body">
   <ul class="list-unstyled mt-3 mb-4">
          <li>Mobile apps for ios and Android</li>

        </ul>
        <a href="https://apps.apple.com/us/app/genetics-and-evolution/id650401749" class="btn btn-primary">Visit</a>
      </div>
    </div>
  </div>
</div>

{%  endblock %}