{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
GenEvol Home
{% endblock %}

{%  block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Genetics & Evolution Web Tools</h1>
      <p class="lead">A collection of Genetics & Evolution web tools</p>
    </div>



    <div class="container">



        <div class="row justify-content-center">
              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                 <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pedigree Analyzer</h4>
                  </div>
                   <div class="embed-responsive embed-responsive-16by9">
                       <a href="{%url 'ped_an' %}"><img class="card-img-top embed-responsive-item" src="{%  static  'img/gen_pedan_ipad.PNG' %}" alt="Card image cap"></a>
                   </div>
                  <div class="card-body">

                      <p>
                          Analyze pedigrees and infer likely inheritance patterns

                                              <br>
                      </p>
                     <div class="text-center">
                        <a href="{%url 'ped_an' %}" class="btn btn-primary">Run</a>
                     </div>
                  </div>
                </div>
              </div>

              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                 <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Cross Simulator</h4>
                  </div>
                   <div class="embed-responsive embed-responsive-16by9">
                       <a href="{%url 'cross_sim' %}"><img class="card-img-top embed-responsive-item" src="{%  static  'img/gen_crosssim_new.PNG' %}" alt="Card image cap"></a>
                   </div>
                  <div class="card-body">

                      <p>
                          Simulate Mendelian crosses
                                              <br>
                                              <br>
                      </p>
                     <div class="text-center">
                        <a href="{%url 'cross_sim' %}" class="btn btn-primary">Run</a>
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Allele<br> Freak</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">

                      <a href="{%url 'allele_freak' %}"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_allelefreak.PNG' %}" alt="Card image cap"></a>
                  </div>
                  <div class="card-body">
                      <p>Examine Allele frequencies over generations
                        <br>


                      </p>
                     <div class="text-center">
                         <a href="{%url 'allele_freak' %}" class="btn btn-primary">Run</a>
                     </div>
                  </div>
                </div>
              </div>


              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                     <h4 class="my-0 font-weight-normal">Test Cross Linkage</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">

                  <a href="{%url 'cross_map' %}"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_gcm_pic.PNG' %}"  alt="Card image cap"></a>
                  </div>
                  <!--img src="https://dummyimage.com/800x600/000/fff.jpg" class="card-img-top" alt="..."-->
                  <div class="card-body">
                    <p>
                        Determine linkage and gene order at 3 alleles
                    </p>

                      <div class="text-center">
                          <a href="{%url 'cross_map' %}" class="btn btn-primary">Run</a>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Population Growth</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">

                  <a href="{%url 'population_growth' %}"><img class="card-img-top embed-responsive-item" src="{%  static 'img/pg/gen_pg_equation.PNG' %}" alt="Card image cap"></a>
                  </div>
                  <div class="card-body">
                  <p>
                     Calculate Population Growth
                      <br>
                      <br>
                    </p>
                  <div class="text-center">
                    <a href="{%url 'population_growth' %}" class="btn btn-primary">Run</a>
                  </div>
                  </div>
                </div>
              </div>

              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Hardy Weinberg</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">

                  <a href="{%url 'hardy_weinberg' %}"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_hw.PNG' %}" alt="Card image cap"></a>
                  </div>
                  <div class="card-body">
                  <p>
                     Check for Hardy Weinberg equilibrium
                    </p>
                  <div class="text-center">
                    <a href="{%url 'hardy_weinberg' %}" class="btn btn-primary">Run</a>
                  </div>
                  </div>
                </div>
              </div>


             <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Breeders Eq Heritability</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">

                  <a href="{%url 'breeders_equation' %}"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_breeders.PNG' %}" alt="Card image cap"></a>
                  </div>
                  <div class="card-body">
                  <p>
                     Calculate Broad Heritability using Breeders Equation

                    </p>
                  <div class="text-center">
                    <a href="{%url 'breeders_equation' %}" class="btn btn-primary">Run</a>
                  </div>
                  </div>
                </div>
              </div>




              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Self Test<br> Quiz</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">
                      <a href="{%  url 'quiz' %}"><img class="card-img-top  embed-responsive-item" src="{%  static 'img/gen_quiz_pic.PNG' %}" alt="Card image cap"></a>
                  </div>
                  <div class="card-body">
                      <p>
                          Test yourself on genetics  and evolution topics

                          <br>
                      </p>
                      <div class="text-center">
                         <a class="btn btn-primary" href="{%  url 'quiz' %}" role="button">Run</a>
                      </div>
                   </div>
                </div>
              </div>


              <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mobile apps</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">
                      <a href="https://apps.apple.com/us/app/genetics-and-evolution/id650401749"><img class="card-img-top embed-responsive-item" src="{%  static 'img/gen_ipadhd.PNG' %}" alt="Card image cap"></a>
                  </div>
                  <div class="card-body">
                      <p>
                          Genetics & Evolution mobile apps for ios and Android
                            <br>
                            <br>
                      </p>

                    <div class="text-center">
                      <a href="https://apps.apple.com/us/app/genetics-and-evolution/id650401749" class="btn btn-primary btn-sm">iPhone</a>
                          <br>
                        <a href="https://apps.apple.com/us/app/genetics-and-evolution-hd/id946774666" class="btn btn-primary btn-sm mt-1">iPad (HD)</a>
                            <br>
                        <a href="https://play.google.com/store/apps/details?id=com.lnyapps.geneticsandevolution" class="btn btn-primary mt-1 btn-sm">Android</a>
                    </div>
                  </div>
                </div>
              </div>

               <div class="col-auto mb-4">
                <div class="card h-100 card-ge">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Learn more</h4>
                  </div>
                  <div class="embed-responsive embed-responsive-16by9">
                      <a href="https://www.coursera.org/learn/genetics-evolution"><img class="card-img-top embed-responsive-item" src="{%  static 'img/noor.PNG' %}" alt="Card image cap"></a>
                  </div>
                  <div class="card-body">
                      <p>"Introduction to Genetics & Evolution" free Coursera course offered by Duke University</p>
                      <div class="text-center">
                            <a href="https://www.coursera.org/learn/genetics-evolution" class="btn btn-primary">Check it out</a>
                      </div>
                  </div>
                </div>
              </div>

        </div>
        <hr>
        <div class="row" id="info-section">
            <div class="col-12">
               <p class = "lead">This app was created to help students in Genetics and Evolution courses solve problems and understand course material. The focal courses on which the app is based are offered in <a href="https://www.coursera.org/course/geneticsevolution">Coursera</a> and at <a href="http://www.duke.edu/">Duke University</a>, but the material is covered in introductory genetics and evolution courses worldwide.</p>
               <hr>
                <div class="jumbotron">
                <h1>Features</h1>
                </div>
                                <h3><a href = "{%url 'ped_an' %}">Pedigree Analyzer</a></h3>
                <p>Generates pedigrees and allows users to select inheritance pattern(s) consistent with each pedigree. For each inheritance pattern, the user can select inferable genotypes for each individual in the pedigree</p>
                Inheritance patterns included:
                    <ul>
                    <li>Autosomal Recessive</li>
                    <li>Autosomal Dominant</li>
                    <li>X-Linked Recessive</li>
                    <li>X-Linked Dominant</li>
                    <li>Mitochondrial</li>
                    <li>Y-Linked</li>
                    <li>No Dominance</li>
                    </ul>
                <h3><a href = "{%url 'cross_sim' %}">Cross Simulator</a></h3>
                <p>Simulate crosses between male and female diploid organisms and examine expected gentoype and phenotype ratios of offspring produced</p>
                <h3><a href="{%url 'allele_freak' %}"><p font size = 4>Allele Freak</a></h3>
                <p>Track and graph the fate of alleles over multiple generations using simulations based on relative fitness, genetic drift etc</p>
                <h3><a href="{%url 'quiz' %}"><p font size = 4>Self Test Quiz</a></h3>
                <p>Genetics vocabulary-- multiple-choice quiz yourself on some common basic genetic terms</p>

                <h3>Problem Central</h3>
                Each mini app within Problem Central consists of two tabs:
                <ul>
                    <li>Problem Solver tab: Genetics calculator to solve problems on the topic based on user input</li>
                    <li>Test Yourself tab: Automatically generates problems to test yourself on the topic</li>
                </ul>
                The mini apps available within Problem Central are:
                <br><br>
               <div class="row">

                    <div class="col-xs-6 col-md-3">
                            <a href="{%url 'cross_map' %}">Test Cross Linkage</a>
                            <p >Accepts genotype counts for three genes from a "test cross", and uses the counts to infer the gametic phase, the recombination rate between the three genes, and the gene order.</p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                            <a href="{%url 'population_growth' %}">Population Growth</a>
                            <p>With any three of the following values, calculates the fourth: annual growth rate (r), initial population (N<sub>0</sub>), final population (N<sub>T</sub>), time in years (T)</p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                            <a href="{%url 'hardy_weinberg' %}">Hardy Weinberg</a>
                            <p>Accepts genotype counts for a single gene and outputs observed genotype frequencies, expected genotype frequencies, and the coefficient of inbreeding (F)</p>
                    </div>
                    <div class="col-xs-6 col-md-3">
                            <a href="{%url 'breeders_equation' %}">Breeders Equation Heritability</a>
                            <p> with any three of the following values, calculates the fourth: starting phenotype, selected phenotype, response phenotype, broad-sense heritability</p>
                    </div>


                </div>


            </div>



            </div>
        </div>
    </div>


{%  endblock %}