{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Pedigree Analyzer
{% endblock %}


{%  block app_title %}
Pedigree Analyzer
{% endblock  %}

{%  block custom_css %}
    <link href="{%  static "css/ped_an/ped_an.css" %}" rel="stylesheet">
{%  endblock custom_css %}

{%  block content %}


<div class = "container-fluid">
    <div class = "row">


        <div class = "col-1">

        </div>
        <div class = "col-10">

             <form method="GET" id="ped_form" action="{%  url 'ped_an' %}">
                <div class = "text-center">
                    <input type="submit" class="btn btn-primary" value="New Pedigree" id="new-ped_but">
                </div>
                 <br>
                <label>Find a consistent inheritance pattern  <small><span id="num-exist">hh</span></small> </label>

                 <div class = "row">
                     <div class = "col-3">
                        {{ form.inh_patterns }}
                     </div>
                    <div class = "col-1 my-auto">
                        <img  class ="tick-img" id="tick-img" src = "{%  static 'img/tick.jpg' %}" width="20px">
                    </div>
                     <div class = "col-3">
                         <button type="button" id="show-but" class="btn btn-info btn-large" onclick="showGenotypeButClicked(event);">Reveal Inferrable Genotypes</button>

                     </div>

                 </div>
             </form>
        </div>
        <div class = "col-1">

        </div>
    </div>
    <div class = "row">

            <div class = "col-1">
            </div>
            <div class = "col-10">
                <canvas id="canvas" width="1100px" height = "500px" class = "mt-4">

                </canvas>
            </div>

            {%if  debug == 'Y' %}
            <div class = "col-1 border mt-4" id="pa-settings">
                <form method="GET" id="type_form" action="{%  url 'ped_an' %}">
                    {% csrf_token %}
                    <p class="lead">
                        Settings
                    </p>

                    <br>
                    <br>
                    <small>
                        <div class = "text-muted">
                            <!--span>{{  act_gens }}</span>
                            <br-->
                            {{  cons_per_inferrer }}
                            <br>
                            {{  ped_j.actual }}

                            <br>
                        </div>
                    </small>

                  </form>


            </div>
            {%endif %}


    </div>

</div>



{%  endblock %}

{%  block script %}
{{ orgs | json_script:"jOrgs" }}
{{ poss_gametes | json_script:"jPossGametes" }}
{{ poss_gametes_rolled_up | json_script:"jPossGametesRolledUp" }}
{{ gen_phen | json_script:"jGenPhen" }}
{{ num_traits | json_script:"jNumTraits" }}
{{  p1_ind | json_script:"jP1Ind"}}
{{  p2_ind | json_script:"jP2Ind"}}
{{  genome_name | json_script:"jGenomeName"}}

{{ ped_j | json_script:"jPedigree" }}

{{ act_gens | json_script:"jActGens" }}
{{  cons_per_inferrer | json_script:"jConsPerInferrer" }}
{{  poss_gens_per_inferrer | json_script:"jPossGensPerInferrer" }}
<script>
    var staticPrefix = "{% get_static_prefix %}";
</script>


<script src="{% get_static_prefix %}js/pa/viewclasses.js"></script>
<script src="{% get_static_prefix %}js/pa/modelclasses.js"></script>
<script src="{% get_static_prefix %}js/pa/propertylisteners.js"></script>
<script src="{% get_static_prefix %}js/pa/eventlisteners.js"></script>
<script src="{% get_static_prefix %}js/pa/main.js"></script>
<script>


</script>

{%  endblock %}