{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Population Growth
{% endblock %}


{%  block app_title %}
Population Growth
{% endblock  %}

{%  block content %}

<div class = "container">
    <div class="row">
        <div class = "col-5">
            <p class="lead">
                <b>Enter 3 parameters to calculate the 4th:</b>
            </p>
            <form id="popgrowthform" action="" method="post" >
                     {% csrf_token %}
            {#  <div class="row form-group">#}

                       <div class="form-group">

                          {{ form.as_p }}

                           <input class="btn btn-primary" type="submit" value="Submit">

                    {#      <div class="col-md-1">#}
                    {##}
                    {#      </div>#}
                    {#      <div class="col-md-1">#}
                    {#        <b>{{ form.init_pop.label_tag }}</b>#}
                    {#      </div>#}
                    {#      <div class = "col-md-1">#}
                    {#          {{ form.init_pop }}#}
                    {#      </div>#}
                    {#          <div class="col-md-1">#}
                    {#        <b>{{ form.growth_rate.label_tag }}</b>#}
                    {#      </div>#}
                    {#      <div class = "col-md-1">#}
                    {#          {{ form.growth_rate }}#}
                    {#      </div>#}
                    {#     <div class="col-md-1">#}
                    {#        <b>{{ form.time.label_tag }}</b>#}
                    {#      </div>#}
                    {#      <div class = "col-md-1">#}
                    {#          {{ form.time }}#}
                    {#      </div>#}
                    {#      <div class="col-md-1">#}
                    {#        <b>{{ form.final_pop.label_tag }}</b>#}
                    {#      </div>#}
                    {#      <div class = "col-md-1">#}
                    {#          {{ form.final_pop }}#}
                    {#      </div>#}



                      </div>


            </form>
        </div>
        <div class = "col-5">
            <div id="answer_div" class="answer_div">
            <p class="lead">
                <b>{{ answer_title }}: {{  answer }}</b>
            </p>

                 <div id="plotDiv" style="width:100%;height:300px;">

                 </div>

            </div>
        </div>
    </div>
</div>

{%  endblock %}

{%  block script %}
{{ plot_data | json_script:"jPlotData" }}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
var plotData = JSON.parse(document.getElementById('jPlotData').textContent);

function showGraph(pDiv) {

    var lineType;

    lineType = 'solid';

    dataList = [];
    markerColors = ['green','blue','orange','yellow','red','black','purple'];

    for (i = 0;i < plotData.length; ++i) {
        var trace = {
          x: plotData[i].x_data,
          y: plotData[i].y_data,
          {#mode: 'markers',#}
          type: 'line',
          name: 'Run ' + (i+1),
          marker: {color: markerColors[i % markerColors.length]}
      };
      dataList.push(trace);
    }


    var layout = {
      /*xaxis: {
        range: [ 0, xLimit ]
      },
      yaxis: {
        range: [0, 1]
      },
      */
      title:"Population Growth"
    };

    Plotly.newPlot(pDiv, dataList, layout);

}

//showGraph('plotDiv');

if (plotData.length == 0) {

}
else {
    document.getElementById('answer_div').style.visibility === "visible";
    showGraph('plotDiv');
}


</script>

{%  endblock %}