{%  extends 'common/problem.html' %}
{%  load static %}
 {% block title %}
Population Growth
{% endblock %}


{%  block app_title %}
Population Growth
{% endblock  %}

{%  block problem_solver_leader %}
      <p class = "lead mt-4 ml-2">
          <i>Population Growth formula: <span class = "pc-pg-final-pop"><b>N<sub>t</sub></b></span> = <span class = "pc-pg-init-pop"><b>N<sub>0</sub></b></span> * e<sup><b><span class = "pc-pg-growth-rate">r</span><span class = "pc-pg-time">t</span></b></sup></i>
      </p>
{%  endblock problem_solver_leader %}

{%  block problem_solver_header %}
        <p class="lead">
            <b>Enter 3 parameters to calculate the 4th:</b>
        </p>
{%  endblock problem_solver_header %}

{%  block problem_solver_form %}
        <form id="popgrowthsolverform" action="" method="post" >
                 {% csrf_token %}
                   <div class="form-group">
                      <div style="color:red">
                        {{  form.non_field_errors }}
                      </div>
                       {%  for f in form %}
                            <p>
                                {%  if f.name == 'init_pop' %}
                                      Initial Population size (<span class="pc-pg-init-pop">N<sub>0</sub></span>):
                                {%  else  %}
                                      {% if f.name == 'final_pop' %}
                                             Final Population size (<span class="pc-pg-final-pop">N<sub>t</sub></span>):
                                      {%  else %}
                                         {%  if f.name == 'growth_rate' %}
                                             Growth rate (<span class="pc-pg-growth-rate">r</span>)
                                         {%  else %}
                                             {%  if f.name == 'time' %}
                                                 Time in years (<span class="pc-pg-time">t</span>)
                                             {%  endif %}
                                         {%  endif %}

                                      {%  endif %}
                                  {%  endif %}

                                 {{ f }}
                            </p>
                       {%  endfor %}

                       <input class="btn btn-primary" name="solverSubmit" type="submit" value="Calculate">
                       <input class="btn btn-secondary" name="clearButton" type="button" value="Clear" onclick="clearSolverForm()">
                  </div>
        </form>
{%  endblock problem_solver_form %}

{%  block problem_solver_answer %}
        <p class="lead">
            <b>{{ answer_title|safe }} {{  answer }}</b>
        </p>

             <div id="plotDiv" style="width:100%;height:400px;">

             </div>
{%  endblock problem_solver_answer %}

{%  block problem_generator_leader %}
      <p class = "lead mt-4 ml-2">
          <i>Population Growth formula: <span class = "pc-pg-final-pop"><b>N<sub>t</sub></b></span> = <span class = "pc-pg-init-pop"><b>N<sub>0</sub></b></span> * e<sup><b><span class = "pc-pg-growth-rate">r</span><span class = "pc-pg-time">t</span></b></sup></i>
      </p>
{%  endblock problem_generator_leader %}

{%  block problem_generator_form %}

        <form id="popgrowthsolverform" action="" method="post" >
                 {% csrf_token %}

                      <div style="color:red">
                        {{  form.non_field_errors }}
                      </div>

                  {% for f in form %}
                     {%  if f.name == chosen_target  %}

                     {%  else %}
                         {%  if f.name == 'answer_field' %}
                             {{ f }}
                         {% else %}
                             <p>
                                 {%  if f.name == 'init_pop' %}
                                      Initial Population size (<span class="pc-pg-init-pop">N<sub>0</sub></span>):
                                {%  else  %}
                                      {% if f.name == 'final_pop' %}
                                             Final Population size (<span class="pc-pg-final-pop">N<sub>t</sub></span>):
                                      {%  else %}
                                         {%  if f.name == 'growth_rate' %}
                                             Growth rate (<span class="pc-pg-growth-rate">r</span>)
                                         {%  else %}
                                             {%  if f.name == 'time' %}
                                                 Time in years (<span class="pc-pg-time">t</span>)
                                             {%  endif %}
                                         {%  endif %}

                                      {%  endif %}
                                  {%  endif %}
                                  {{  f }}

                             </p>
                         {%  endif %}

                     {%  endif %}
                  {%  endfor %}

                 {%  if plot_data %}
                 {%  else %}
                    <p class="lead"><b>Please calculate:</b></p>
                 {%  endif %}
                 {% for f in form %}
                     {% if f.name == chosen_target  %}
                         <p>
                          <b>
                                   {%  if f.name == 'init_pop' %}
                                      Initial Population size (<span class="pc-pg-init-pop">N<sub>0</sub></span>):
                                {%  else  %}
                                      {% if f.name == 'final_pop' %}
                                             Final Population size (<span class="pc-pg-final-pop">N<sub>t</sub></span>):
                                      {%  else %}
                                         {%  if f.name == 'growth_rate' %}
                                             Growth rate (<span class="pc-pg-growth-rate">r</span>)
                                         {%  else %}
                                             {%  if f.name == 'time' %}
                                                 Time in years (<span class="pc-pg-time">t</span>)
                                             {%  endif %}
                                         {%  endif %}

                                      {%  endif %}
                                  {%  endif %}
                             </b>
                             {{ f }}
                             {% if answer_title  %}
                                 {%  if correct_flag %}
                                     <img  class ="tick_img" src = "{%  static 'img/tick.jpg' %}" width="20px">
                                  {%  else %}
                                     <img  class ="tick_img" src = "{%  static 'img/cross.PNG' %}" width="20px"> ( Correct answer: {{  answer_rounded }} )
                                   {% endif  %}
                             {%  endif %}
                         </p>
                     {%  else %}

                     {%  endif %}

                {%  endfor %}

                <input class="btn btn-primary" name="generatorSubmit" type="submit" value="Check Answer">
                <input class="btn btn-secondary" name="anotherButton" type="button" value="New" onclick="getAnother()">
        </form>
{%  endblock problem_generator_form %}

{%  block problem_generator_answer %}
        <p class="lead">
        {%  if correct_flag %}
            {{ correct_answer }}

            <b>{{ answer_title|safe }}: {{  answer }}</b>
        {%  endif %}
        </p>

         <div id="plotDivGenerator" style="width:600px;height:400px;">

         </div>

{%  endblock problem_generator_answer %}

 {%  block show_graph %}
    function showGraph(pDiv) {

    var lineType;

    lineType = 'solid';

    dataList = [];
    markerColors = ['green','blue','orange','yellow','red','black','purple'];

    for (i = 0;i < plotData.length; ++i) {
        var trace = {
          x: plotData[i].x_data,
          y: plotData[i].y_data,
          {#mode: 'markers',#}
          type: 'line',
          name: 'Run ' + (i+1),
          marker: {color: markerColors[i % markerColors.length]}
      };
      dataList.push(trace);
    }


    var layout = {
      /*xaxis: {
        range: [ 0, xLimit ]
      },
      yaxis: {
        range: [0, 1]
      },
      */
      xaxis: {
          title: 'Time in years(<span class="pc-pg-time">t</span>)'
      },
      yaxis: {
          title: "Population size"
      },
      annotations: [
        {
          x: plotData[0].x_data[0],
          y: plotData[0].y_data[0],
          xref: 'x',
          yref: 'y',
          text: '<b><span class="pc-pg-init-pop">N<sub>0</sub></span></b>',
          showarrow: true,
          arrowhead: 7,
          ax: 20,
          ay: -20
        },
        {
          x: plotData[0].x_data[plotData[0].x_data.length - 1],
          y: plotData[0].y_data[plotData[0].y_data.length - 1],
          xref: 'x',
          yref: 'y',
          text: '<b><span class="pc-pg-final-pop">N<sub>t</sub></span></b>',
          showarrow: true,
          arrowhead: 7,
          ax: 20,
          ay: 20
        }
     ],
      title:"Population Growth"
    };

    Plotly.newPlot(pDiv, dataList, layout);

    }
{%  endblock show_graph %}

{%  block assemble_url %}
    function assembleUrl() {
        var url = "{% url 'population_growth' %}";
        return url;

    }
{%  endblock assemble_url %}

{%  block handle_tab_click_url %}
        url +='&growth_rate=' + document.getElementById('id_growth_rate').value;
        url +='&time=' + document.getElementById('id_time').value;
        url +='&init_pop=' + document.getElementById('id_init_pop').value;
        url +='&final_pop=' + document.getElementById('id_final_pop').value;
{%  endblock handle_tab_click_url %}
