<div class = "container-fluid d-md-none">
   <div class="jumbotron">
       <p class="lead"><i class="fas fa-info-circle fa-lg"></i> Please view on larger device<br> (tablet, laptop, desktop)</p>
       <p><small>.. or rotate to landscape for larger phones</small></p>
      <hr class="my-4">

      <p>Or try mobile app..</p>
      <a class="btn btn-primary" href="https://apps.apple.com/us/app/genetics-and-evolution/id650401749" role="button">Get iPhone mobile app</a>
       <br>
       <a href="https://apps.apple.com/us/app/genetics-and-evolution-hd/id946774666" class="btn btn-primary mt-1">Get iPad (HD) app</a>
                            <br>
                        <a href="https://play.google.com/store/apps/details?id=com.lnyapps.geneticsandevolution" class="btn btn-primary mt-1">Get Android mobile app</a>


   </div>
</div>