{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Contact Us
{% endblock %}


{%  block app_title %}
Contact Us
{% endblock  %}

{%  block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="display-4">Contact Us</h1>
        <p class="lead">For genevol support (or general enquiries), please email: <a href="mailto:support@genevol.com">support@genevol.com</a></p>
    </div>
</div>

{%  endblock %}

{%  block script %}
<script>

</script>

{%  endblock %}