{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Cross Simulator
{% endblock %}


{%  block app_title %}
Cross Simulator
{% endblock  %}

{%  block custom_css %}
    <link href="{%  static "css/cross_sim/cross_sim.css" %}" rel="stylesheet">
{%  endblock custom_css %}

{%  block content %}

<div class = "container-fluid">
    <div class = "row">
        <div class = "col-xs-12 col-xl-2 ml-4" id="cross-settings">
          <div class = "border" style="overflow:hidden">
                <form class = "m-2" method="POST" id="type_form" action="{%  url 'cross_sim' %}">
                    {% csrf_token %}
                    <p class="lead">
                        Settings
                    </p>
                    <div class = "row">
                       <div class = "col-12 col-md-4 col-xl-12 mb-2">

                                Cross Type: <br>{{ form.cross_type }}

                       </div>
                       <div class = "col-12 col-md-4 col-xl-12 mb-2">

                                # Loci:
                                <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        {% for radio in form.alleles %}
                                            <div class="myradio3 btn btn-info btn-sm slim-button">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                </div>

                       </div>

                        <div class = "col-12 col-md-4 col-xl-12 mb-2">
                                Show: <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for radio in form.gen_phen %}
                                        <div class="myradio4 btn btn-info btn-sm slim-button">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>

                        </div>
                    </div>
                </form>
          </div>
        </div>
        <div class = "col-xs-12 col-md-12 col-xl-9 ml-2">
            <div class="row">
                <div class = "col-lg-3 mt-4 justify-content-center">
                    <div class="text-center">
                         <div class="btn-group btn-group-justified btn-group-toggle" data-toggle="buttons">
                            {% for radio in form.p1 %}
                                <div class="btn btn-info btn-sm slim-button">
                                    {{ radio }}
                                </div>
                            {% endfor %}
                         </div>
                    </div>
                    <div class="text-center">
                        <span id="p1_gen">{{ p1 }}</span>
                        <img id="p1_img" data-toggle="tooltip" data-html="true" title= "Phase:&#10;{{ parents.0.gen_phase }}&#10;&#10;Expected gamete frequencies:&#10;{{parent_poss_gametes.0 }}" src="{% get_static_prefix %}img/{{ genome_name }}/{{  genome_name }}_{{ parents.0.phen }}.png" width="{%  if genome_name == "pea" %}60px{%  else %}100px{%  endif %}" alt="something" >
                        <img src="{%  get_static_prefix %}img/cs/female_transp.png" id="gender-female-image" class="gender-image">
                    </div>
                </div>
                <div class="col-lg-2  mt-0 mt-lg-4 text-center">
                     <button id="cross" name="cross" class="btn btn-primary btn-lg mt-3" onclick="crossButClicked(event);" type="submit">Meiosis</button>
                </div>
                <div class = "col-lg-3 mt-4 justify-content-center">
                     <div class="text-center">
                         <div class="btn-group btn-group-justified btn-group-toggle" data-toggle="buttons">
                            {% for radio in form.p2 %}
                                <div class="myradio2 btn btn-info btn-sm slim-button">
                                    {{ radio }}
                                </div>
                            {% endfor %}
                         </div>
                     </div>

                 <div class="text-center">
                     <span id="p2_gen">{{ p2 }}</span>
                    <!--img id="tst_id" src="" width="{%  if genome_name == "pea" %}60px{%  else %}100px{%  endif %}"-->
                    <img id="p2_img"  title="Phase:&#10;{{ parents.1.gen_phase }}&#10;&#10;Expected gamete frequencies:&#10;{{parent_poss_gametes.1 }}&#10;"src="{% get_static_prefix %}img/{{ genome_name }}/{{  genome_name }}_{{ parents.1.phen }}.png" width="{%  if genome_name == "pea" %}60px{%  else %}100px{%  endif %}" alt="something" >
                    <img src="{%  get_static_prefix %}img/cs/male_transp.png" id="gender-male-image" class="gender-image">
                 </div>
              </div>
                <div class="col-lg-4">
                   <small>
                      {% for descr in phen_descriptions %}
                        {{  descr }}
                        <br>
                      {%  endfor %}
                   </small>
              </div>
            </div>

            <div class = "row">
                <div class = "col-md-3">

                    <div id = 'cell-zoom' style="display:none;" class="border mt-4">

                        <img id="zoom-image" src = "" width="200px" style="display:none;">
                        <span id="zoom-genotype" class="display-4" style="display:none;"></span>
                        <span id = "zoom-gen">AaBbCC</span>
                        <br>
                        <small>Phenotype tot: </small><span id="num-same-phen"></span> / <span id="tot-num-phen"></span>
                        <br>
                        <small>Genotype tot: </small><span id="num-same"></span> / <span id="tot-num"></span>

                    </div>
                </div>
                <div id="punnett-square" class="punnett-square col-md-6">
                    <canvas id="canvas">

                    </canvas>


                </div>
                <div class="col-md-3">
                    <table id= "ratio-table" class="table table-hover" style="display:none;">
                      <thead>
                        <tr>
                          <th scope="col">Ratios</th>
                          <!--th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th-->
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div id="test_class" class="text-center mt-1" hidden>

                <br>
                {%  for child_unique_genotype, count in children_unique_genotypes.items %}
                    {{ child_unique_genotype}}: {{  count }}
                    <br>
                {%  endfor %}
        </div>

       {{ parents|json_script:"hello-data" }}
    </div>


</div>



{%  endblock %}

{%  block script %}
{{ orgs | json_script:"jOrgs" }}
{{ poss_gametes | json_script:"jPossGametes" }}
{{ poss_gametes_rolled_up | json_script:"jPossGametesRolledUp" }}
{{ gen_phen | json_script:"jGenPhen" }}
{{ num_traits | json_script:"jNumTraits" }}
{{  p1_ind | json_script:"jP1Ind"}}
{{  p2_ind | json_script:"jP2Ind"}}
{{  genome_name | json_script:"jGenomeName"}}


<script src="{% get_static_prefix %}js/cs/viewclasses.js"></script>
<script src="{% get_static_prefix %}js/cs/modelclasses.js"></script>
<script src="{% get_static_prefix %}js/cs/propertylisteners.js"></script>
<script src="{% get_static_prefix %}js/cs/eventlisteners.js"></script>

<script>




function setPunnettSquare() {

   var cellZoom = document.getElementById('cell-zoom') ;
   ps = new PunnettSquare(PunnettSquare.InheritanceAutosomal, possGametes[numTraits-1][p1Ind],possGametes[numTraits-1][p2Ind], numTraits, genPhen, genomeName);
   psd = new PunnettSquareDiv(ps, canvasEl, state, cellZoom, staticPrefix);
   psd.drawStuff();

   rt = new RatioTable(ps, document.getElementById('ratio-table'), staticPrefix, ratioRowSelected);

   var x = ps.possibleOffspring();
   var y = 1;
}

function fitToContainer(canvas){
  // Make it visually fill the positioned parent
  canvas.style.width ='100%';
  canvas.style.height='100%';
  // ...then set the internal size to match
  canvas.width  = canvas.offsetWidth;
  canvas.height = canvas.offsetHeight;
}



window.onresize = function () {
    canvasEl = document.getElementById('canvas');
    fitToContainer(canvasEl);
    psd.drawStuff();
}




{#function showAnswer() {#}
{#  var el = document.getElementById('answer_div');#}
{#  if (el.style.visibility === "visible") {#}
{#      el.style.visibility = "hidden";#}
{#  }#}
{#  else {#}
{#      document.getElementById('answer_div').style.visibility = "visible";#}
{#  }#}
{#}#}

{#function getSource() {#}
{#    src =  "{% get_static_prefix %}img/pea/pea_" + orgs[0].phen + ".png";#}
{#    return src;#}
{#}#}

{#function selectedOption(name) {#}
{#    var options = document.getElementsByName(name);#}
{#    var selected;#}
{##}
{#    for(var i = 0; i < options.length; i++) {#}
{#       if(options[i].checked)#}
{#           selected = options[i].value;#}
{#     }#}
{#    return selected;#}
{#}#}

function changeCrossType() {

    var crossType;
    if ((p1Ind == 0) && (p2Ind == 2)
        || (p1Ind == 2) && p2Ind == 0)

    {
       crossType = '1';
    }
    else if ((p1Ind == 1) && (p2Ind == 2)
              || (p1Ind == 2) && (p2Ind == 1)){
        crossType = '2';
    }
    else if ((p1Ind == 1) && (p2Ind == 1)) {
        crossType = '3';
    }
    else {
        crossType = '4';
    }


    x = 1;
    el = document.getElementById('id_cross_type');
    if (el.value == crossType) {

    }
    else {
        el.value = crossType;
    }
}




{#function showOrg(parent, orgNum) {#}
{#    el = document.getElementById('id_' + parent + '_' + orgNum);#}
{##}
{#    var parents = JSON.parse(document.getElementById('hello-data').textContent);#}
{#    var orgs = JSON.parse(document.getElementById('jOrgs').textContent);#}
{#    var possGametes = JSON.parse(document.getElementById('jPossGametes').textContent);#}
{#    //alert('radio val: ' + (parseInt(radio.value)-1))#}
{#    src_txt = "{% get_static_prefix %}img/{{genome_name}}/{{ genome_name }}_" + orgs[orgNum].phen + ".png"#}
{#    //alert('src: ' + src_txt)#}
{##}
{#    document.getElementById(parent + "_img").src = "{% get_static_prefix %}img/{{genome_name}}/{{ genome_name }}_" + orgs[numTraits][orgNum].phen + ".png"#}
{#    document.getElementById(parent + "_gen").innerText = orgs[numTraits][orgNum].gen;#}
{##}
{#}#}



function genToPhen(gen) {

    var phen = ['a+','b+','c+'];
    for (i = 0;i < (gen.length / 2); ++i) {
        if  ((gen.charAt(i*2) ==   gen.charAt(i*2).toLowerCase()) && (gen.charAt(i*2 + 1) ==   gen.charAt(i*2 + 1).toLowerCase())) {

            phen[i] = gen.charAt(i*2).toLowerCase() + '-';

        }
        else {
            phen[i] = gen.charAt(i*2).toLowerCase() + '+';
        }
    }

    return phen.join('');

}



window.onload = function(){

}

var orgs = JSON.parse(document.getElementById('jOrgs').textContent);
var genPhen = JSON.parse(document.getElementById('jGenPhen').textContent);
var numTraits = JSON.parse(document.getElementById('jNumTraits').textContent);
var p1Ind = JSON.parse(document.getElementById('jP1Ind').textContent);
var p2Ind = JSON.parse(document.getElementById('jP2Ind').textContent);
var possGametes = JSON.parse(document.getElementById('jPossGametes').textContent);
var possGametesRolledUp = JSON.parse(document.getElementById('jPossGametesRolledUp').textContent);
var genomeName = JSON.parse(document.getElementById('jGenomeName').textContent);
var staticPrefix = "{% get_static_prefix %}"
var ratioRow = null;

var state = 1;


var ps = null; //new PunnettSquare(PunnettSquare.InheritanceAutosomal, f, m);
var psd  = null;
var rt = null; //= new RatioTable(ps, document.getElementById('ratio-table'), staticPrefix);
canvasEl = document.getElementById('canvas');
fitToContainer(canvasEl);

el = document.getElementById("id_p1_0");
el.onchange = orgTypeSelected;

el = document.getElementById("id_p1_" + p1Ind);
el.parentElement.parentElement.classList.add('active')  // className = 'active' //addClass('active') // = el.labels[0];
el = document.getElementById("id_p2_" + p2Ind);
el.parentElement.parentElement.classList.add('active')

el = document.getElementById("id_p1_1");
el.onchange = orgTypeSelected;
el = document.getElementById("id_p1_2");
el.onchange = orgTypeSelected;

el = document.getElementById("id_p2_0");
el.onchange = orgTypeSelected;
el = document.getElementById("id_p2_1");
el.onchange = orgTypeSelected;
el = document.getElementById("id_p2_2");
el.onchange = orgTypeSelected;

el = document.getElementById("id_alleles_0");
el.onchange = numTraitsSelected;
if (numTraits == 1) {
    el.parentElement.parentElement.classList.add('active');
}
el = document.getElementById("id_alleles_1");
el.onchange = numTraitsSelected;
if (numTraits == 2) {
    el.parentElement.parentElement.classList.add('active');
}
el = document.getElementById("id_alleles_2");
el.onchange = numTraitsSelected;
if (numTraits == 3) {
    el.parentElement.parentElement.classList.add('active');
}

el = document.getElementById("id_cross_type");
el.onchange = crossTypeSelected;

el = document.getElementById("id_gen_phen_" + "0");
el.onchange = genPhenSelected;
if (genPhen== 'g') {
    el.parentElement.parentElement.classList.add('active');
}
el = document.getElementById("id_gen_phen_" + "1");
el.onchange = genPhenSelected;
if (genPhen== 'p') {
    el.parentElement.parentElement.classList.add('active');
}

//selectCrossType();

genPhenChanged();

numTraitsChanged(true);

orgTypeChanged();

</script>

{%  endblock %}