{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Allele Freak
{% endblock %}


{%  block app_title %}
Allele Freak
{% endblock  %}

{% block info-button %}
    <button class="btn btn-outline-info shadow-none" data-toggle="modal" data-target="#afModalCenter" ><span class="fas fa-info-circle fa-lg"></span></button>
{%  endblock %}

{%  block content %}

<!--div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Allele Freak</h1>

</div-->


<div class="modal fade" id="afModalCenter" tabindex="-1" role="dialog" aria-labelledby="afModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="afModalCenterTitle">Allele Freak</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Track and graph the fate of alleles over multiple generations based on relative fitness, genetic drift etc.</p>
      <br> Simply
          <ul>
              <li>Select the initial frequency of the "a" allele</li>
              <li>Select the relative genotype fitnesses (AA, Aa, aa)</li>
              <li>Select the population size (enter "-1" for infinite)</li>
              <li>Press "Run!"</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="ajaxDontShow();" data-dismiss="modal">Don't show again</button>
      </div>
    </div>
  </div>
</div>

{% include 'common/small_screen_message.html' %}
<div class="d-none d-md-block">
<form id="allelefreakform" action="" method="post" >
         {% csrf_token %}
  <div class="row form-group">

      <div class="mb-3 ml-4 d-lg-none">
          <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#af-settings" aria-expanded="false" aria-controls="collapseExample">
            Show settings&nbsp;&nbsp; <span class="fa fa-chevron-down"></span>
          </button>
      </div>

      <div class="col-lg-10  collapse d-lg-block" id="af-settings" >
      <!--div class = "row ml-4 collapse d-lg-block" id="af-settings"-->
        <div class = "row form-group mx-4 mx-lg-0">

          <div class="col-xs-0 col-lg-2">

          </div>
          <div class="col-xs-2 col-lg-1">
            <b>{{ form.init_freq_a.label_tag }}</b>
          </div>
          <div class = "col-xs-2 col-lg-1">
              {{ form.init_freq_a }}
          </div>
              <div class="col-xs-2 col-lg-1">
            <b>{{ form.fitness_AA.label_tag }}</b>
          </div>
          <div class = "col-xs-2 col-lg-1">
              {{ form.fitness_AA }}
          </div>
         <div class="col-xs-2 col-lg-1">
            <b>{{ form.fitness_Aa.label_tag }}</b>
          </div>
          <div class = "col-xs-2 col-lg-1">
              {{ form.fitness_Aa }}
          </div>
          <div class="col-xs-2 col-lg-1">
            <b>{{ form.fitness_aa.label_tag }}</b>
          </div>
          <div class = "col-xs-2 col-lg-1">
              {{ form.fitness_aa }}
          </div>







      </div>
      <div class="row form-group mx-4 mx-lg-0">
              <div class="col-xs-0 col-lg-2">

              </div>

       <div class="col-xs-2 col-lg-1">
            <b>{{ form.pop_size.label_tag }}</b>
          </div>
          <div class = "col-xs-2 col-lg-1">
              {{ form.pop_size }}
          </div>
        <div class="col-xs-2 col-lg-1">
            <b>{{ form.num_gens.label_tag }}</b>
          </div>
          <div class = "col-xs-2 col-lg-1">
              {{ form.num_gens }}
          </div>

          <div class="col-cs-2 col-lg-1">
            <b>{{ form.inbreeding_coefficient.label_tag }}</b>
          </div>
          <div class = "col-xs-2 col-lg-1">
              {{ form.inbreeding_coefficient }}
          </div>
          <div class="col-xs-4 mt-2 mt-lg-0 col-lg-2">
                  Show allele: &nbsp;
                     <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% for radio in form.show_allele %}
                            <div class="showallele btn btn-info btn-sm">
                                {{ radio }}
                            </div>
                        {% endfor %}
                     </div>

          </div>
      </div>





  </div>
            <div class = "col-lg-2 ml-4 ml-lg-0">
             <div class="row">
              <div class = "btn-group col-sm-4 col-lg-12 pr-4">
                <input class="btn btn-primary" name="submitform" type="submit" value="Run">
                &nbsp;&nbsp;
                <input class="btn btn-secondary" name="clear"  type="submit" value="Clear">

              </div>
             </div>
             <div class = "row">
              <div class = "col-xs-5 col-sm-2 col-lg-6">
              <b>{{ form.auto_clear.label_tag }}</b>
              </div>
              <div class = "col-xs-5 col-sm-2 col-lg-6">
              {{ form.auto_clear }}
              </div>
             </div>


          </div>

  </div>


<div class = "container">
 <div class ="row">
    <div class="col-12">
        <div id="plotDiv" style="width:100%;height:400px;"></div>
    </div>

 </div>

</div>
</form>
</div>



{%  endblock %}

{%  block script %}

{{ plot_data | json_script:"jPlotData" }}
{{ show_allele | json_script:"jShowAllele" }}
{{ dont_show_info | json_script:"jDontShowInfo" }}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
var plotData = JSON.parse(document.getElementById('jPlotData').textContent);
var showAllele = JSON.parse(document.getElementById('jShowAllele').textContent);
var dontShowInfoPopup = JSON.parse(document.getElementById('jDontShowInfo').textContent);


function showChange(e) {
    el = e.target;
    for (i = 0; i < 2; ++i) { // change to 3 if both option is added
        el1 = document.getElementById("id_show_allele_" + i);
        if (el1 == el) {
            el1.parentElement.parentElement.classList.add('active');
        } else {
            el1.parentElement.parentElement.classList.remove('active');
        }
    }
    f =   document.getElementById("allelefreakform");
    f.submit();

}

el = document.getElementById("id_show_allele_" + {{ sel_allele }});
el.parentElement.parentElement.classList.add('active');  // className = 'active' //addClass('active') // = el.labels[0];

el = document.getElementById("id_show_allele_0");
el.onchange = showChange;
el = document.getElementById("id_show_allele_1");
el.onchange = showChange;
{#el = document.getElementById("id_show_allele_2");#}
{#el.onchange = showChange;#}


function showGraph(pDiv) {

    var lineType;
    var alleleText;

    if (showAllele == 1) {
        lineType = 'solid';
    }
    else {
        lineTtype = 'solid'; //changed mind. Show both as solid
    }

    dataList = [];
    markerColors = ['green','blue','orange','yellow','red','black','purple'];

    for (i = 0;i < plotData.length; ++i) {
        var trace = {
          x: plotData[i].x_data,
          y: plotData[i].y_data,
          {#mode: 'markers',#}
          type: 'line',
          name: 'Run ' + (i+1),
          marker: {color: markerColors[i % markerColors.length]}
      };
      dataList.push(trace);
    }

    if (showAllele == 1) {
        alleleText = 'a';
    }
    else {
        alleleText = 'A';
    }

    xLimit = 400;
    if (plotData.length > 0) {
        xLimit = plotData[0].x_data.length;
    }

    var layout = {
      xaxis: {
        range: [ 0, xLimit ],
        title: "Generation"
      },
      yaxis: {
        range: [0, 1],
        title: "Allele <b>" + alleleText + "</b> Frequency"
      },
      title:"Allele '<b>" + alleleText + "</b>' - Frequency over Generations"
    };

    Plotly.newPlot(pDiv, dataList, layout);

}

window.onresize = function(){ location.reload(); }


$(document).ready(function(){
        if (dontShowInfoPopup == 'Y') {

        }
        else {
            $("#afModalCenter").modal('show');
        }
});

function ajaxDontShow() {
    $.ajax("{%url 'setsessionvar' %}?var=af_dontshowinfopopup:Y",   // request url
    {
        success: function (data, status, xhr) {// success callback function
            //alert('Done ajax');
    }
});
}

showGraph('plotDiv');


</script>

{%  endblock %}