{%  extends 'common/base.html' %}
{%  load static %}
 {% block title %}
Pedigree Analyzer
{% endblock %}


{%  block app_title %}
Pedigree Analyzer
{% endblock  %}

{%  block custom_css %}
    <link href="{%  static "css/ped_an/ped_an.css" %}" rel="stylesheet">
{%  endblock custom_css %}

{% block info-button %}
    <button class="btn btn-outline-info shadow-none" data-toggle="modal" data-target="#paModalCenter" ><span class="fas fa-info-circle fa-lg"></span></button>
{%  endblock %}


{%  block content %}


<audio id="myAudio">
  <source src="{% static 'audio/ding-sound-effect_2.mp3' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<audio id="myAudio2">
  <source src="{% static 'audio/game-sound-wrong.wav' %}" type="audio/wav">
  Your browser does not support the audio element.
</audio>
<audio id="myAudio3">
  <source src="{% static 'audio/success-low.wav' %}" type="audio/wav">
  Your browser does not support the audio element.
</audio>
<div class="modal fade" id="paModalCenter" tabindex="-1" role="dialog" aria-labelledby="paModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h3 class="modal-title" id="paModalCenterTitle">Pedigree Analyzer</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
          <div class="text-center">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary" onclick="ajaxDontShow('{%url 'setsessionvar' %}');" data-dismiss="modal">Don't show again</button>
          </div>
          <hr class ="my4">
          <p class = "lead">Track and graph the fate of alleles over multiple generations based on relative fitness, genetic drift etc.</p>
          <hr class ="my4">

            <p>Pedigree Analyzer generates pedigrees and allows users to test themselves on which inheritance pattern(s) are consistent with each pedigree.
                <br>For each inheritance pattern, the user can also test themselves on the genotypes which are inferrable for each individual in the pedigree.
            </p>

            <p>Instructions:</p>
            <ul>
            <li>Generate a Pedigree (Tap New Pedigree button)</li>
            <li>Select consistent inheritance pattern(s) associated with the Pedigree shown</li>
            <li>For each consistent inheritance pattern for a Pedigree, select genotypes for those individuals whose genotypes can be inferred</li>
            </ul>
            Inheritance patterns included:
            <ul>
            <li>Autosomal Recessive</li>
            <li>Autosomal Dominant</li>
            <li>X-Linked Recessive</li>
            <li>X-Linked Dominant</li>
            <li>Y-Linked</li>
            </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


{% include 'common/small_screen_message.html' %}
<div class = "container-fluid d-none d-md-block">
    <div class = "row">


        <div class = "col-1">

        </div>
        <div class = "col-10">

             <form method="GET" id="ped_form" action="{%  url 'ped_an' %}">
                <div class = "text-center">
                    <input type="submit" class="btn btn-primary" value="New Pedigree" id="new-ped_but">
                </div>
                 <br>
                <label>Find a consistent inheritance pattern  <small><span id="num-exist">hh</span></small> </label>

                <div class = "row">
                     <div class = "col-10 col-sm-6 col-lg-3">
                        {{ form.inh_patterns }}
                     </div>
                    <div class = "col-2 col-sm-2 col-lg-1 my-auto">
                        <img  class ="tick-img" id="tick-img" src = "{%  static 'img/tick.jpg' %}" width="20px">
                    </div>
                     <div class = "col-7 col-lg-3 mt-2 mt-lg-0">
                         <button type="button" id="show-but" class="btn btn-info btn-large" onclick="showGenotypeButClicked(event);">Reveal Inferrable Genotypes</button>

                     </div>

                     <div id = "tot-found-div" class = "col-5 col-lg-2 mt-2 mt-lg-0">
                         <span><span id="num-correct">12</span> / <span id = "tot-num">25</span> inferrable genotypes found</span>
                     </div>

                 </div>

             </form>
        </div>
        <div class = "col-1">

        </div>
    </div>
    <div class = "row">

            <div class = "col-1">
            </div>
            <div class = "col-10 mt-4">
                <canvas id="canvas" width="1100px" height = "500px" class = "">

                </canvas>
            </div>

            {%if  debug == 'Y' %}
            <div class = "col-1 border mt-4" id="pa-settings">
                <form method="GET" id="type_form" action="{%  url 'ped_an' %}">
                    {% csrf_token %}
                    <p class="lead">
                        Settings
                    </p>

                    <br>
                    <br>
                    <small>
                        <div class = "text-muted">
                            <!--span>{{  act_gens }}</span>
                            <br-->
                            {{  cons_per_inferrer }}
                            <br>
                            {{  ped_j.actual }}

                            <br>
                        </div>
                    </small>

                  </form>


            </div>
            {%endif %}


    </div>

</div>



{%  endblock %}

{%  block script %}
{{ orgs | json_script:"jOrgs" }}
{{ poss_gametes | json_script:"jPossGametes" }}
{{ poss_gametes_rolled_up | json_script:"jPossGametesRolledUp" }}
{{ gen_phen | json_script:"jGenPhen" }}
{{ num_traits | json_script:"jNumTraits" }}
{{  p1_ind | json_script:"jP1Ind"}}
{{  p2_ind | json_script:"jP2Ind"}}
{{  genome_name | json_script:"jGenomeName"}}
{{ dont_show_info | json_script:"jDontShowInfo" }}

{{ ped_j | json_script:"jPedigree" }}

{{ act_gens | json_script:"jActGens" }}
{{  cons_per_inferrer | json_script:"jConsPerInferrer" }}
{{  poss_gens_per_inferrer | json_script:"jPossGensPerInferrer" }}
<script>
    var staticPrefix = "{% get_static_prefix %}";
    var dontShowInfoPopup = JSON.parse(document.getElementById('jDontShowInfo').textContent);
</script>


<script src="{% get_static_prefix %}js/pa/viewclasses.js"></script>
<script src="{% get_static_prefix %}js/pa/modelclasses.js"></script>
<script src="{% get_static_prefix %}js/pa/propertylisteners.js"></script>
<script src="{% get_static_prefix %}js/pa/eventlisteners.js"></script>
<script src="{% get_static_prefix %}js/pa/main.js"></script>
<script>


</script>

{%  endblock %}